/.env.local
/.next
/.todo
/Clark-Site.code-workspace
/node_modules
/public/robots.txt
/public/sitemap-0.xml
/public/sitemap.xml
yarn.lock
.DS_Store
.env

tsconfig.tsbuildinfo

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
next-env.d.ts
apps/nextjs/public/sw.js

# nitro
.nitro/
.output/
.cache/
.vercel/

# expo
.expo/
expo-env.d.ts
apps/expo/.gitignore
apps/expo/ios
apps/expo/android
*.ipa
apps/expo/build-*************.tar.gz
apple-secret-gen.mjs
# Reduce Expo Build Size
assets/example*ui/*.mov

# production
build
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
dist/

# turbo
.turbo

public/videos/*
inspo/normanandyoung-home.png
inspo/normanandyoung-listingmedia.png
inspo/normanandyoung-meettheteam.png
