@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #262626;
    --theme: #f3f3f3;
    --nav-active: rgb(200, 116, 139);
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  body {
    @apply min-h-screen bg-primary font-scp font-normal text-white antialiased scrollbar-thin scrollbar-track-gray-400/20 scrollbar-thumb-zinc-500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
    -webkit-text-size-adjust: 100%;
    -ms-font-feature-settings: "kern" 1;
    font-feature-settings: "kern";
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 0.75rem;
    background: #888;
  }
  img {
    content-visibility: auto;
  }
  a {
    @apply hover:cursor-pointer;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply !font-montserrat;
  }
}

@layer components {
  .ww-page {
    @apply relative min-h-screen scroll-smooth bg-primary font-scp text-white antialiased;
  }

  .btn {
    @apply relative cursor-pointer rounded-md border border-[#eaeaea] px-10 py-2 font-montserrat text-lg font-bold uppercase leading-6 tracking-widest text-white antialiased transition duration-150 ease-out hover:border-slate-500/60 hover:text-slate-500 disabled:cursor-not-allowed disabled:opacity-50;
  }

  .link {
    @apply text-white antialiased transition-all hover:text-slate-500;
  }

  .pixelated {
    /* https://css-tricks.com/keep-pixelated-images-pixelated-as-they-scale/ */
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-pixelated;
    image-rendering: pixelated;
  }

  @keyframes fade-in {
    from {
      @apply opacity-0;
    }
    to {
      @apply opacity-100;
    }
  }

  .animate-fade-in {
    animation: fade-in 0.5s ease-in-out;
  }
}

@layer utilities {
  .safe-top {
    padding-top: calc(env(safe-area-inset-top));
  }
  .safe-bottom {
    padding-bottom: calc(env(safe-area-inset-bottom) + 20px);
  }
}
